* {
    font-family: 'Orbitron', sans-serif;
}

.wrapper {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin-top: 50px;
}

.blog-pages {
    min-height: 175px;
    background-color: lightgray;
}

form {
    text-align: center;
    justify-content: center;
    align-items: center;
}

textarea {
    min-height: 150px;
    min-width: 350px;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.btn-one {
    font-family: 'Orbitron', sans-serif;
    margin-top: 10px;
    background-color: rgb(253, 7, 196);
    color: white;
    border-radius: 10px;
    border-width: 1.8px;
    border-color: blue;
    padding: 5px;
    cursor: pointer;
}

.mb-3 {
    font-family: 'Orbitron', sans-serif;
    width: 70px;
    color: blue;
}

.btn-two {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(7, 198, 7);
    color: white;
    padding: 5px;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 10px;
    border-width: 1.8px;
    border-color: blue;
}

.btn-three {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(7, 198, 7);
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border-width: 1.8px;
    border-color: blue;
}

.education h1, .intern h1, .jobs h1 {
    font-family: 'Orbitron', sans-serif;
    color: rgb(7, 198, 7);
    font-size: 3.5em;
}

