.landing {
    min-height: 900px;
}

.center {
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.page-landing {
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    margin-top: 1%;
    font-size: 5.0em;
    font-weight: 500px;
    line-height: 1.15;
    color: rgb(7, 198, 7);
    margin-right: 20%;
    animation: flicker 1.5s infinite alternate;
}


@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(253, 7, 196),
    0 0 82px rgb(253, 7, 196),
    0 0 92px rgb(253, 7, 196),
    0 0 102px rgb(253, 7, 196),
    0 0 151px rgb(253, 7, 196);
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}


#about {
    min-height: 900px;
    
}

#about p {
    margin-left: 40%;
    max-width: 700px;
    max-height: 225px;
    margin-top: 75px;
    font-size: 1.6em;
    font-family: 'Orbitron', sans-serif;
    color: rgb(7, 198, 7);
}

@media screen and (max-width: 575px) {
    body {
        max-height: fit-content;
        max-width: fit-content;
    }

    .center {
        display: block;
        float: right;
    }

    .page-landing {
        display: block;
        float: right;
        font-size: 1.8em;
        margin-right: 40%;
        animation: flicker 10s;
    }

    #about p {
        font-size: 1.0em;
    }
}